flask==3.1.1
python-dotenv==1.0.1
blinker==1.9.0
click==8.1.8
itsdangerous==2.2.0
jinja2==3.1.5
markupsafe==2.1.5
werkzeug==3.1.3
colorama==0.4.6
SQLAlchemy==2.0.41
flask-cors==6.0.1
google-auth==2.40.3
google-genai==1.24.0
ollama==0.5.1
Flask-SQLAlchemy==3.1.1
pyodbc==5.2.0
